.index-body{
	background-color:white;
	overflow-x: hidden;
}

#text{
	border-left:none;
    border-right:none;
	height: 25px;
	padding: 4px;
	width : 100%;
	border:none;
	fill: none;
    font-size: 18px;
	background:transparent;
}
h1 span{
	background-color:red;
}
#box{
	background-color: #282d32;
	position: relative;
	top:100px;
	margin: auto;
	width: 520px;
	height:580px;
	padding: 30px;
}
#box h1{
	text-align:center;
	color:aliceblue;
	font-family:'Segoe UI';
}
#box #button{
	position: relative;
	left: 185px;
	padding: 10px;
	width: 150px;
	border-radius: 10px;
	color: #282d32;
	font-size : 20px;
	font-weight: bold;
	font-family:'Segoe UI';
	background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
}
#box a  {
	color:white;
	font-size: 15px;
	float: left;
}
.main-header{
	background-image: url("images/bench-accounting-nvzvOPQW0gc-unsplash-croppped.jpg");
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	height:900px;
}
.main-header-2-img{
	position:relative;
	float: left;
	height:400px;
	width:350px;
	left:100px;
}
.logo{
	position: relative;
	top:5px;
	left:-240px;
	width:200px;
}
.main-header-2{
	text-align: center;
	height:500px;
}
a{
	color:black;
	text-decoration: none;
}

hr{
	height: 1px;
	background-color: white;
	border: none;
}
.grid-container {
	position: relative;
	display: grid;
    grid-template-columns: 1fr 5fr;
	grid-gap: 20px;
	
}
.grid-child-sidebar{
	position: relative;
	color:black;
	height: 400px;
	left:70px;
}
.grid-child-content{
	text-align: left;
	background-color:lightgrey;
	text-indent:size;
	width : 1200px;
	height: 100%;
	
}
.img{
	position: absolute;
	left: 100px;
    top: 0;
    height: 400px;
    width: 100px;
    background-size: cover;
    padding: 0px;
}
.footer-dark {
	position: relative;
	left:-200px;
	width: 1500px;
	height: 300px;
	padding:50px 0;
	color:#f0f9ff;
	background-color:#282d32;
}

.footer-dark h3 {
	margin-top:0;
	margin-bottom:12px;
	font-weight:bold;
	font-size:16px;
}

.footer-dark ul {
	padding:0;
	list-style:none;
	line-height:1.6;
	font-size:14px;
	margin-bottom:0;
}

.footer-dark ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.6;
}

.footer-dark ul a:hover {
	opacity:0.8;
}

.footer-dark .item.text {
	margin-bottom:36px;
}

.footer-dark .item.text p {
	opacity:0.6;
	margin-bottom:0;
}

.footer-dark .item.social {
	text-align:center;
}

.footer-dark .item.social > a {
	font-size:20px;
	width:36px;
	height:36px;
	line-height:36px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	box-shadow:0 0 0 1px rgba(255,255,255,0.4);
	margin:0 8px;
	color:#fff;
	opacity:0.75;
}

.footer-dark .item.social > a:hover {
	opacity:0.9;
}

.footer-dark .copyright {
	text-align:center;
	padding-top:24px;
	opacity:0.3;
	font-size:13px;
	margin-bottom:0;
}

.wrap {
	margin: 50px auto auto;
	width: 100%;
	align-items: space-around;
	max-width: 1100px;
}

.title {
	width: 350px;
	height: 250px;
	margin-inline-end: 10px;
	background-color: #433d3c;
	display: inline-block;
	background-size: cover;
	position: relative;
	cursor: pointer;
	transition: all 0.4s ease-out;
	box-shadow: 0 35px 77px -17px rgba(0,0,0,0.7);
	overflow: hidden;
	color: white;
}

.title img {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	transition: all 0.4s ease-out; 
}

.title .text {
	position: absolute;
	padding: 30px;
	height: calc(100% - 60px);
}

.title h1 {
	font-weight: 500;
	font-family: sans-serif;
	text-transform: uppercase;
	text-shadow: 2px 2px 10px rgba(0,0,0,.3);
}

.title p {
	font-family: sans-serif;
	margin: 40px 0 0 0;
	transform: translateX(-200px);
}

.para {
	opacity: 0;
	transition: all 0.6s ease-in-out;
}

.title:hover {
	box-shadow: 0px 35px 190px -17px rgba(0,0,0,0.64);
	transform: scale(1.05);
}

.title:hover img {
	opacity: .2;
}

.title:hover .para {
	transform: translateX(0);
	opacity: 1;
}

.code-snippet{
	color: white;
	height: 200px;
	width: 1170px;
	margin:10px;
	padding:20px;
	background-color:#282d32;
}

.code{
	color: white;
}

/*signup-login*/
.signup-body{
	background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
	background-attachment: fixed;
}
