body{
	background-color:#12232E;
}
#text{
	height: 25px;
	padding: 4px;
	width : 100%;
	border:solid thin #aaa;
}
#button{
	padding: 10px;
	width: 200px;
	color: red;
	background-color: lightblue;
	border: none;
}
#box{
	position: relative;
	top:100px;
	background-color: grey;
	margin: auto;
	width: 500px;
	padding: 30px;
}

a{
	color:white;
	text-decoration: none;
}

hr{
	height: 1px;
	background-color: white;
	border: none;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
	grid-gap: 20px;
}
.grid-child-sidebar{
	text-align: center;
	background-color:#007CC7;
	height: 100%;
}
.grid-child-content{
	text-align: left;
	background-color:lightgrey;
	text-indent:size;
	width : 1200px;
	height: 100%;
	
}
.img{
	position: absolute;
	left: 100px;
    top: 0;
    height: 400px;
    width: 100px;
    background-size: cover;
    padding: 0px;
}