.index-body{
	background-color:white;
	overflow-x: hidden;
}
/*body{
	background-image: linear-gradient( 109.5deg,  rgba(229,233,177,1) 11.2%, rgba(223,205,187,1) 100.2% );
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
}*/

#text{
	height: 25px;
	padding: 4px;
	width : 100%;
	border:solid thin #aaa;
}
#button{
	padding: 10px;
	width: 200px;
	color: red;
	background-color: lightblue;
	border: none;
}
h1 span{
	background-color:lightgrey;
}
#box{
	position: relative;
	margin: auto;
	width: 500px;
	padding: 100px;
}
.main-header{
	background-image: url("images/bench-accounting-nvzvOPQW0gc-unsplash-croppped.jpg");
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	height:900px;
}
.main-header-2-img{
	position:relative;
	float: left;
	height:400px;
	width:350px;
	left:100px;
}
.logo{
	position: relative;
	top:5px;
	left:-240px;
	width:200px;
}
.main-header-2{
	text-align: center;
	height:500px;
}
a{
	color:black;
	text-decoration: none;
}

hr{
	height: 1px;
	background-color: white;
	border: none;
}
.grid-container {
	position: relative;
	display: grid;
    grid-template-columns: 1fr 5fr;
	grid-gap: 20px;
	
}
.grid-child-sidebar{
	position: relative;
	color:black;
	height: 400px;
	left:70px;
}
.vertical{
	border-left: 2px solid black; 
	height: 100%; 
	position:absolute; 
	left: 300px; 
}
.grid-child-content{
	text-align: left;
	background-color:lightgrey;
	text-indent:size;
	width : 1200px;
	height: 100%;
	
}
.img{
	position: absolute;
	left: 100px;
    top: 0;
    height: 400px;
    width: 100px;
    background-size: cover;
    padding: 0px;
}
.footer-dark {
	position: relative;
	left:-200px;
	width: 1500px;
	padding:50px 0;
	color:#f0f9ff;
	background-color:#282d32;
}

.footer-dark h3 {
	margin-top:0;
	margin-bottom:12px;
	font-weight:bold;
	font-size:16px;
}

.footer-dark ul {
	padding:0;
	list-style:none;
	line-height:1.6;
	font-size:14px;
	margin-bottom:0;
}

.footer-dark ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.6;
}

.footer-dark ul a:hover {
	opacity:0.8;
}

@media (max-width:767px) {
	.footer-dark .item:not(.social) {
		text-align:center;
		padding-bottom:20px;
	}
}

.footer-dark .item.text {
	margin-bottom:36px;
}

@media (max-width:767px) {
	.footer-dark .item.text {
		margin-bottom:0;
	}
}
.footer-dark .item.text p {
	opacity:0.6;
	margin-bottom:0;
}

.footer-dark .item.social {
	text-align:center;
}

@media (max-width:991px) {
	.footer-dark .item.social {
		text-align:center;
		margin-top:20px;
	}
}

.footer-dark .item.social > a {
	font-size:20px;
	width:36px;
	height:36px;
	line-height:36px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	box-shadow:0 0 0 1px rgba(255,255,255,0.4);
	margin:0 8px;
	color:#fff;
	opacity:0.75;
}

.footer-dark .item.social > a:hover {
	opacity:0.9;
}

.footer-dark .copyright {
	text-align:center;
	padding-top:24px;
	opacity:0.3;
	font-size:13px;
	margin-bottom:0;
}



